div.cover {
  background: url("Cover.jpeg");
  background-size: cover;
  text-align: center;
  color: white;
  overflow: auto;
  text-shadow: 1px 1px black;
}

div.cover p {
  max-width: 500px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  border-radius: 4px;
}

.menu-navbar {
  text-align: center;
}

.menu-navbar a, .menu-navbar a:hover {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #801515;
  color: white;
}

.menu-category h2 {
  text-align: center;
  padding-top: 50px;
}

.menu-category h2 + h6 {
  text-align: center;
}

@media (max-width: 768px) {
  .menu-category h2 + h6 {
    text-align: initial;
    max-width: 500px;
    margin: auto;
    padding: 10px;
  }
}

.menu-category h4 + p {
  color: #aaa;
}

.menu-entry {
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}

.menu-entry:last-child {
  border: 0;
}

.menu-entry:hover {
  background: #fffbbf;
}

.menu-entry span {
  padding: 10px;
  float: right;
  display: inline-block;
}

#footer {
  margin-top: 50px;
  padding: 50px;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 50px;
}

#footer a {
  text-decoration: none;
}

#footer span {
  font-size: 8px;
  font-color: #ccc;
  text-transform: uppercase;
  display: block;
}